$spacing: (
        system-space-100: 8px,
        system-space-200: 16px,
        system-space-300: 24px,
        system-space-400: 32px,
        system-space-600: 48px,
        system-space-800: 64px
);
