$typography: (
        /* Font size */
        system-font-size-100: 10px,
        system-font-size-200: 12px,
        system-font-size-300: 14px,
        system-font-size-400: 16px,
        system-font-size-500: 20px,
        system-font-size-600: 24px,

        /* Font weight */
        system-font-weight-light: 300,
        system-font-weight-regular: 400,
        system-font-weight-bold: 700,

        /* Line height */
        system-line-height-100: 15px,
        system-line-height-200: 18px,
        system-line-height-300: 21px,
        system-line-height-400: 24px,
        system-line-height-500: 30px,
        system-line-height-600: 36px
);
