$colors: (
        system-color-white: #FFFFFF,
        system-color-black: #222222,
        system-color-gray-100: #F2F2F2,
        system-color-gray-200: #CECECE,
        system-color-gray-300: #A2A2A2,
        system-color-gray-400: #656565,
        system-color-gray-500: #4B4B4B,
        system-color-red-100: #FFE7E7,
        system-color-red-200: #D85140,
        system-color-red-300: #CF1322,
        system-color-red-400: #A8071A,
        system-color-gold-100: #FFFBE6,
        system-color-gold-200: #FFE58F,
        system-color-gold-300: #FFC53D,
        system-color-gold-400: #9A6600,
        system-color-green-100: #EAF6EA,
        system-color-green-200: #00E375,
        system-color-green-300: #00AF5A,
        system-color-green-400: #008E49,
        system-color-blue-100: #E2EFFE,
        system-color-blue-200: #4A9EF7,
        system-color-blue-300: #0F7EF5,
        system-color-blue-400: #096DD7,
        system-color-blue-500: #085BB5,
);
